:root {
    --hoverColor:  rgb(88, 230, 255);
    background-color:rgb(255, 230, 255); 
    --fontColor: white; 
    font-family: Georgia, 'Times New Roman', Times, serif; 
    --color: blueviolet; 

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px 80px;
    margin: 35px 0;
    color: blueviolet; 
    cursor: pointer; 
}
section {
    display: flex; 
    justify-content: center; 
    padding: 10px 80px;
    margin: 35px 0;
}

img {
    height: 200px;
    width: 200px; 
}

.home-container {
    display: grid;
    justify-content: center; 
    grid-template-columns: .5fr  .85fr .5fr;
    grid-template-rows: .5fr;
}

.home-title {
    grid-column: 2 / 3;
    grid-row: 1 / 2 ;
    text-align: center;
    font-size: 44px;
    margin: 15px 0;
    justify-content: center;
}

.home-text-p {
    text-align: center;
    grid-column: 2 / 3;
    font-weight: 500;
    font-size: 20px;
    margin: 10px 0;
}

.home-btn {
    grid-row: 3/4;
    grid-column: 2/3;
    text-align: center;
    padding: 10px 15px;
    margin: 10px 0;
    position: relative;
    left: 230px;
    width: 150px;
    color: white;
    background-color: var(--color); 
    border: 2px var(--color) solid; 
    border-radius: 10px;
    cursor: pointer; 
    font-size: 14px; 
    font-weight: bold; 
}
.home-btn:hover {
    background-color: var(--hoverColor);
    border: 2px var(--hoverColor) solid;
}


.question-container {
    display: grid;
    grid-template-columns: .5fr .85fr .5fr;
    grid-template-rows: 1fr 2fr;
}
.question {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    padding: 10px 15px;
}

.answer-container {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr 1fr;
    margin-left: 15px;
}
.answer-One {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    max-width: 500px;
    max-height: 200px;
    text-align: left;
    padding: 10px 15px;
    margin: 5px 0;
    color: white;
    background-color: var(--color);
    border: 2px solid var(--color); 
    cursor: pointer; 
    border-radius: 5px;
    font-size: 14px; 
    font-weight: bold; 
}
.answer-One:hover {
    background-color: var(--hoverColor);
    border: 2px solid var(--hoverColor);
    cursor: pointer; 
}
.answer-Two {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    max-width: 500px;
    max-height: 200px;
    text-align: left;
    padding: 10px 15px;
    margin: 5px 0;
    color: white;
    background-color: var(--color);
    border: 2px solid var(--color);
    cursor: pointer; 
    border-radius: 5px;
    font-size: 14px; 
    font-weight: bold; 
}
.answer-Two:hover {
    background-color: var(--hoverColor);
    border: 2px solid var(--hoverColor);
    cursor: pointer; 
}
.answer-Three {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    max-width: 500px;
    max-height: 200px;
    text-align: left;
    padding: 10px 15px;
    margin: 5px 0;
    color: white;
    background-color: var(--color);
    border: 2px solid var(--color);
    cursor: pointer; 
    border-radius: 5px;
    font-size: 14px; 
    font-weight: bold; 
}
.answer-Three:hover {
    background-color: var(--hoverColor);
    border: 2px solid var(--hoverColor);
    cursor: pointer; 
}
.answer-Four {
    grid-row: 4 / 5;
    grid-column: 1 / 2;
    max-width: 500px;
    max-height: 200px;
    text-align: left;
    padding: 10px 15px;
    margin: 5px 0;
    color: white;
    background-color: var(--color);
    border: 2px solid var(--color);
    cursor: pointer; 
    border-radius: 5px;
    font-size: 14px; 
    font-weight: bold; 
}
.answer-Four:hover {
    background-color: var(--hoverColor);
    border: 2px solid var(--hoverColor);
    cursor: pointer; 
}

/* Score input screen */
.done-container {
    display: grid;
    grid-template-columns: .35fr 1fr .35fr;
    grid-template-rows: repeat(3, 1fr);
}

.done-title {
    grid-column: 2 / 3;
    margin: 0 0 10px 85px
}
.score {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    margin: 5px 0 0 85px;
    font-size: 20px;
    font-weight: 400;
}

.input-container {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
}
.label {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    text-align: center;
    position: relative;
    top: 11px;
    font-size: 20px;
    margin-left: 15px;
}
.score-input {
    position: relative;
    top: 5px;
    grid-column: 2 / 3;
    max-height: 35px;
}
.submit-btn {
    grid-column: 3 / 4;
    position: relative;
    top: 5px;
    max-width: 100px;
    max-height: 35px;
    margin: 0 20px;
    color: white;
    background-color: var(--color);
    border: 2px solid var(--color);
    cursor: pointer; 
    border-radius: 5px;
    font-size: 14px; 
    font-weight: bold; 
}
.submit-btn:hover {
    background-color: var(--hoverColor);
    border: 2px solid var(--hoverColor);
    cursor: pointer; 
}


.hs-container {
    display: grid;
    grid-template-columns: .35fr .65fr .35fr;
    grid-template-rows: repeat(3, 1fr);
}
.high-score-title {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}
.leaderboard-score {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    background-color: rgb(253, 206, 253);
    max-height: 40px;
    padding: 7px;
    font-size: 20px;
}
.leaderboard {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
    margin-top: 15px;
}
.go-back-btn {
    grid-column: 1 / 2;
    max-width: 100px;
    color: white;
    background-color: var(--color);
    border: 2px solid var(--color);
    cursor: pointer; 
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer; 
    font-size: 14px; 
    font-weight: bold; 
}
.go-back-btn:hover {
    background-color: var(--hoverColor);
    border: 2px solid var(--hoverColor);
    cursor: pointer; 
}
.clear-highScore {
    grid-column: 2 / 3;
    max-width: 150px;
    color: white;
    background-color: var(--color);
    border: 2px solid var(--color);
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 14px; 
    font-weight: bold; 
}
.clear-highScore:hover {
    background-color: var(--hoverColor);
    border: 2px solid var(--hoverColor);
    cursor: pointer; 
}